.navbar {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5762E5;
  color: white;
  padding: 10px 0px;
}

a{
  text-decoration: none;
}

a:visited {
  color: #5762E5;
}
