.signup-page{
  width: 100vw;
  height: 90vh;
  text-align: center;
}

.form-section{
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

label{
  margin: 0px 0px 0px 8px;
  text-align: left;
}

input {
  border: 1px solid grey;
  border-radius: 4px;
  padding: 8px;
  margin: 2px 8px;
}

input[type="submit"] {
  border: none;
  color: white;
  border-radius: 4px;
  background: #5762E5;
}

.signup-page a {
  text-decoration: none;
}

.signup-page a:visited {
  color: #5762E5;
}