.signup-page{
  width: 100vw;
  text-align: center;
}

.form-section{
  width: inherit;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

label{
  margin: 0px 0px 0px 8px;
  text-align: left;
}

input {
  border: 1px solid grey;
  border-radius: 4px;
  padding: 8px;
  margin: 2px 8px;
}

input[type="submit"] {
  background: none;
  border: 1px solid grey;
  border-radius: 4px;
}